<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugu.bgcommunity.core.mapper.ArticleMapper">
    <!--<resultMap id="BaseResultMap" type="com.example.entity.User">-->
        <!--<result column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="userName" jdbcType="VARCHAR" property="userName" />-->
        <!--<result column="passWord" jdbcType="VARCHAR" property="passWord" />-->
        <!--<result column="realName" jdbcType="VARCHAR" property="realName" />-->
    <!--</resultMap>-->
    <select id="findArticleListBy" resultType="com.bugu.bgcommunity.core.model.dto.ArticleDTO">
        select a.id, a.title, a.view_count, a.user_id,
        a.tags, a.classify, a.comment_count, a.agree_count, a.gmt_create, u.avatar_url
        from article a
        left join user u
        on a.user_id = u.id
        <where>
            <if test="classify != '' and classify != null">
                a.classify = #{classify}
            </if>
        </where>
        order by ${sort} desc
    </select>

    <!--<select id="findOneArticleAndUserBy" resultType="com.bugu.bgcommunity.core.model.dto.ArticleDTO">-->
        <!--select a.*, u.*-->
        <!--from article a-->
        <!--left join user u-->
        <!--on a.user_id = u.id-->
        <!--<where>-->
            <!--<if test="id != '' and id != null">-->
                <!--a.id = #{id}-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->
</mapper>